.logout-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: white;
    color: #7439db;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .help-btn {
    position: fixed;
    top: 10px;  /* Start at the top */
    right: 10px; /* 10px from the right edge */
    padding: 10px;
    background-color: white;
    color: #7439db;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px; /* Space between the two buttons */
  }
  
  .chat-btn {
    position: fixed;
    top: 60px;  /* 60px from the top to stack below Help */
    right: 10px;  /* 10px from the right edge */
    padding: 10px;
    background-color: white;
    color: #7439db;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .help-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the modal is on top */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  
  .modal-content h2 {
    color: black;
    margin-bottom: 20px;
  }
  
  .modal-content p {
    color: black;
    margin-bottom: 20px;
  }
  
  .modal-content button {
    padding: 10px;
    background-color: #7439db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: #572b9d;
  }
  
  .chat-popup {
    position: fixed;
    bottom: 20px;  
    right: 20px;   
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;  /* Ensure the chat is on top of other elements */
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .chat-header {
    background-color: #7439db;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chat-box {
    padding: 10px;
    height: 200px;  /* Fixed height for the chat box */
    overflow-y: auto;  /* Enable scrolling when there are too many messages */
    background-color: #f1f1f1;
  }
  
  .chat-message {
    margin-bottom: 10px;
    color: black;  /* Set message color to black for normal view (desktop) */
  }
  
  .chat-input {
    display: flex;
    padding: 10px;
    background-color: #eaeaea;
  }
  
  .chat-input input {
    width: 80%;
    padding: 8px;  
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 8px; 
  }
  
  .chat-input button {
    padding: 8px 12px;  /* Smaller padding for the send button */
    background-color: #7439db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;  /* Slightly smaller text size */
  }

  .threeD-btn {
    position: absolute;
    top: 110px;  /* Slightly below the chat button */
    right: 10px;
    padding: 10px;
    background-color: white;
    color: #7439db;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000; /* Ensure button is above the map */
  }

  .arrow {
    position: absolute;
    top: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .arrow-left {
    left: 20px;
  }
  
  .arrow-right {
    right: 20px;
  }

  
  
  .chat-input button:hover {
    background-color: #572b9d;
  }
  
  /* Close button (X) in the chat header */
  .chat-header button {
    padding: 6px 8px;  /* Smaller padding for the close button */
    background-color: #ffffff;
    color: #7439db;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;  /* Smaller text size for the close button */
  }
  
  .chat-header button:hover {
    background-color: #424242;  /* Darker red on hover */
    color: #ffffff;
  }
  
  /* Responsive styles for small screens */
  @media screen and (max-width: 500px) {
    /* Hide the chat header on mobile */
    .chat-header {
      display: none;  /* Hides the header on mobile */
    }
  
    /* Chat Popup for mobile (Instagram live style) */
    .chat-popup {
      position: fixed;
      bottom: 0;
      left: 0;  /* Align chat to the left side */
      width: 100%; 
      height: 60vh; 
      background-color: transparent; 
      box-shadow: none; 
      border-radius: 0; 
      display: flex;
      flex-direction: column;
    }
  
    .chat-box {
      padding: 10px;
      height: calc(100% - 50px); /* Adjust height for messages */
      overflow-y: auto;
      background-color: transparent; /* No background for mobile */
      display: flex;
      flex-direction: column-reverse; /* Messages appear from bottom */
      pointer-events: none;
    }
  
    .chat-message {
      margin-bottom: 5px; 
      font-size: 14px; 
      color: white; 
      text-align: left; 
    }
  
    /* Mobile input area */
    .chat-input {
      padding: 10px;
      background-color: transparent; /* Remove background */
      display: flex;
      justify-content: space-between;
    }
  
    .chat-input input {
      width: 80%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    .chat-input button {
      padding: 6px 10px;  /* Adjust padding for mobile */
      background-color: #7439db;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
    }
  }

  .App {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  
  .buttons-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000; /* Ensure buttons are on top */
    display: flex;
    flex-direction: column;
  }
  
  .leaflet-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Ensure map stays behind the buttons */
    width: 100%;
    height: 100%;
  }

